{%- if section.settings.show_terms -%}
	    <script>
            window.addEventListener("load", () => {
                const step = window.Shopify.Checkout.step;
                if (step !== "contact_information") return;

                const termsWrapper = document.createElement("div");
                termsWrapper.classList = "field field--show-floating-label";

                termsWrapper.innerHTML = `
                    <div class="checkbox-wrapper">
                        <div class="checkbox__input">
                            <input type="checkbox" name="tycTerms" id="tycTerms" class="input-checkbox"/>
                        </div>
                        <label class="checkbox__label" for="tycTerms">
                            Acepto los
                            <a
								href="{{ section.settings.terms_url }}"
                                target="_blank"
                                > Términos y Condiciones</a>.  
                        </label>
                    </div>
                `;
                
                document
                    .querySelector("#checkout_remember_me")
                    .parentElement.parentElement.parentElement.before(termsWrapper);

                const continueButton = document.querySelector("#continue_button");
                continueButton.setAttribute("disabled", "true");


                $("input[id$='checkout_id_delivery-shipping']").change(function() {
                    document
                    .querySelector("#checkout_remember_me")
                    .parentElement.parentElement.parentElement.before(termsWrapper);
                });

                $("input[id$='checkout_id_delivery-pickup']").change(function() {
                    $("div[data-pickup-tab-content]").after(termsWrapper);
                });

                if($("input[id$='checkout_id_delivery-pickup']").prop('checked')){
                    $("div[data-pickup-tab-content]").after(termsWrapper);
                }
            });
    	</script>
{%- endif -%}


{% schema %}
  {
    "name": "Terms",
    "settings": [
		{
			"type": "checkbox",
			"id": "show_terms",
			"label": "Show Terms Checkbox in checkout",
			"default": true
		},
		{
			"type": "url",
			"id": "terms_url",
			"label": "Terms Page URL"
		}
	]
  }
{% endschema %}