{% layout none %}

{% include 'ssw-custom-product-data' %}

{% if settings.product_show_sku == true %}
{% unless onboarding %}
<div
     class="
            product-sku
            {% if sku == empty %}product-sku--empty{% endif %}
            "
     >
  {{ 'product.general.sku_html' | t: sku: sku | strip_newlines }}
</div>
{% endunless %}
{% endif %}