{% layout none %}

{% include 'ssw-custom-product-data' %}

{% if settings.product_show_vendor and product.vendor != blank or onboarding %}
<div class="product-vendor">
  {% unless onboarding %}
  {%- capture vendor_link -%}
  {{ product.vendor | link_to_vendor }}
  {%- endcapture -%}
  {{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
  {% else %}
  {{ 'onboarding.product.by_vendor' | t }}
  {% endunless %}
</div>
{% endif %}